---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";
@import "vendor/bigfoot/bigfoot-variables.scss";
@import "vendor/bigfoot/bigfoot-number.scss";
@import "vendor/bigfoot/bigfoot-mixins.scss";
@import "vendor/bigfoot/bigfoot-popover.scss";

// Custom styles below  

// This makes every paragraph indented, to make the site more like MLA style.

.page__content p,
.page__content p+p,
.archive p {
  text-indent: $indent-var;
  img {
    margin-left: -$indent-var;
  }
}

// This makes hanging indentation and applies it to anything specified as a `works-cited` class.  

.works-cited p,
.works-cited p+p {
  padding-left: $indent-var;
  text-indent: -$indent-var;
}

// This removes bullet points or other indicators from any unordered list specified as a `unstyled` class.  

ul.unstyled {
  list-style: none;
}

// This removes indentation from any unordered list specified as an `unindented` class.  

ul.unindented {
  padding-left: 0; 
}

// This makes selected text bold and gives it a top and bottom margin of 16px.   

p.installment-info {
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

// This makes <h4> elements appear 1em tall and have a margin of 1em between them and the next element.  

h4 {
  font-size: 1em;
  margin-bottom: 1em;
}